<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Mi primer sitio web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css"> </link>
  </head>

  <body>

    <header class="barra_superior">
      <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link barra_superior_item" aria-current="home" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active barra_superior_item" aria-current="page" href="/personajes">Personajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link barra_superior_item" href="#">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link barra_superior_item" href="#">Contacto</a>
        </li>
      </ul>
    </header>

    <h1 class="titulo_principal"> Personajes del mundo de Mario</h1>


    <div class="container text-center mt-5"> 

        <div class="row">

            <div class="col-md-6 col-sm-12 col-xs-12">
              <img src="/img/mario.jpeg" class="imagenes_card" alt="...">
              <h4> Personaje principal </h4>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
              <img src="/img/luigi.png" class="imagenes_card" alt="...">
              <h4> Hermano de mario </h4>
            </div>

        </div>   

        <div class="row mt-5">

          <div class="col-md-6 col-sm-12 col-xs-12">
            <img src="/img/yoshi.png" class="imagenes_card" alt="...">
            <h4> Mascota fantastica </h4>
          </div>

          <div class="col-md-6 col-sm-12 col-xs-12">
            <img src="/img/bowser.png" class="imagenes_card" alt="...">
            <h4> Enemigo de todos </h4>
          </div>

        </div>

    </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>

</html>
